@import "styles/vars"

.c-simple-button
	display: inline-block
	vertical-align: top
	background: $colorAccent
	color: rgba(black, .72)
	border-radius: 4px
	font-family: monospace
	filter: url("#svgFilter")
	span.sb-wrapper
		display: flex
		align-items: center
		justify-items: center

		min-height: 40px
		font-size: 14px
		text-transform: uppercase
		font-weight: 700
		padding: 10px 15px

		i
			margin-right: 10px
			font-size: 16px

		span
			line-height: 20px
			display: block