<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="msapplication-TileColor" content="#ede0f7">
	<meta name="theme-color" content="#ede0f7">
	
	<meta property="og:title" content="Хакатон по арбитражу | The Ad Masters" />
	<meta property="og:description" content="Стань участником киевского 48-часового хакатона по арбитражу от компании The Ad Masters! Главный приз - $1000" />
	<meta property="og:image" content="https://hackathon.theadmasters.com/static/images/og_image.jpg" />
	<meta property="og:type" content="website" />
	<meta property="og:site_name" content="The Ad Masters" />
</head>
<body>
	<div id="__root"></div>
</body>
</html>